{
  "presets": [
    [
      "env"
    ],
    "flow"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "env"
        ],
        "power-assert",
        "flow"
      ]
    }
  }
}